<launch>
  <!-- assume map to odom is identity -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="5 2 0 0 0 0 map odom"/> -->

  <!-- ROS navigation stack -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find turtlebot3_training)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find turtlebot3_training)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot3_training)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot3_training)/config/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find turtlebot3_training)/config/base_local_planner_params.yaml" command="load" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="10.0" />
  </node>
</launch>